@model ProductViewModel

<div class="row">
    <div class="col-12 col-sm-6 col-lg-6 order-md-2">
        <div class="card">
            <div id="ProductImages@(Model.Product.ID)" class="carousel slide card-img-top" data-ride="carousel">
                @if(@Model.Product.Images != null && @Model.Product.Images.Count() > 0)
                {
                    <ol class="carousel-indicators">
                        @for(int ctr = 0; ctr < @Model.Product.Images.Count(); ctr++)
                        {
                            <li data-target="#ProductImages@(Model.Product.ID)" data-slide-to="@(ctr)" class="@(ctr == 0)active : '';"></li>
                        }
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        @{ int c = 0; }
                        @foreach(var image in Model.Product.Images )
                        {
                            var base64 = Convert.ToBase64String(image.Image);
                            var imgSrc = String.Format("data:{0};base64,{1}",image.ContentType ,base64);
                            <div class="carousel-item @(@c == 0 ? "active" : "")">
                                <img class="d-block w-100" src="@imgSrc" alt="@image.Name">
                            </div>
                            c++;
                        }
                    </div>
                }
                else
                {
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="~/images/StockImage.png" alt="Third slide">
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-6">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">@Model.Product.Name</h4>
                        <p class="card-subtitle">By: @Model.Product.Store.Name</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-subtitle">Product Description</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">@Model.Product.Description</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Variants</h4>
            </div>
            <div class="card-body">
                <div class="row">
                        <div class="col-3">
                            <p>Description</p>
                        </div>
                        <div class="col-3">
                            <p>Price</p>
                        </div>
                        <div class="col-3">
                            <p>Quantity</p>
                        </div>
                        <div class="col-3">
                            
                        </div>
                    </div>
                @foreach(var variant in Model.Product.Variants)
                {
                    <div class="row">
                        <div class="col-12">
                            @{Model.VariantID = variant.ID;}
                            <form class="row" asp-controller="Cart" asp-action="Add" method="POST" role="form">
                                    @Html.HiddenFor(m => m.VariantID)
                                <div class="col-3">
                                    @variant.Description
                                </div>
                                <div class="col-3">
                                    @variant.Price.ToString("C",variant.Currency)
                                </div>
                                @if(variant.Stock > 0)
                                {
                                        <div class="col-3">
                                            <input asp-for="Quantity" min="1" max="@variant.Stock" class="form-control"> 
                                        </div>
                                        <div class="col-3">
                                            <button type="submit" class="btn btn-default">Add to Cart</button>
                                        </div>
                                }
                                else
                                {
                                    <div class="col-6">
                                        Out of Stock
                                    </div>
                                }
                            </form>
                        </div>
                    </div>
                    <div class="row"></div>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Reviews</h4>
            </div>
            <div class="card-body">
                <p class="card-text">Text</p>
            </div>
        </div>
    </div>
</div>

<partial name="Partials/AddCartModal", for="@Model" />